html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  height: 100vh;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.p5-button {
  @apply absolute z-20 p-1 text-white transition-all duration-300 rounded-md cursor-pointer select-none bg-slate-800 hover:bg-slate-300 hover:text-slate-800 top-5 left-5;
}

.p5-slider {
  @apply absolute z-20 p-1 text-white transition-all duration-300 rounded-md cursor-pointer select-none bg-slate-800 hover:bg-slate-300 hover:text-slate-800 top-5 right-16;
}

.p5-slider-text {
  @apply absolute z-20 p-1 font-bold text-black transition-all duration-300 rounded-md cursor-pointer select-none top-4 right-6;
}
